services:
  dns:
    build: ./dns
    container_name: dns-server
    image: server-dns:pop
    ports:
      - '53:53/udp'

  web1:
    build: ./web1
    container_name: web1
    image: server-web1:pop

  web2:
    build: ./web2
    container_name: web2
    image: server-web2:pop

  proxy:
    build: ./proxy
    container_name: proxy
    image: server-proxy:pop
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - ./proxy/certs:/etc/nginx/ssl
    depends_on:
      - web1
      - web2
